* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .border {
    border: solid;
  }

  h1 {
    font-size: clamp(1.75rem, 5vw, 3rem);
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: clamp(1.5rem, 4.5vw, 2.5rem);
    margin-bottom: 0.875rem;
  }
  
  h3 {
    font-size: clamp(1.25rem, 4vw, 2rem);
    margin-bottom: 0.75rem;
  }
  
  h4 {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    margin-bottom: 0.375rem;
  }
  
  h5 {
    font-size: clamp(0.875rem, 3vw, 1.5rem);
  }
  
  h6 {
    font-size: clamp(0.75rem, 2.5vw, 1.25rem);
    margin-bottom: 0.375rem;
  }
  
  p {
    font-size: clamp(0.5rem, 2vw, .8rem);
    line-height: 1.2; 
    margin-bottom: 1rem;
  }
  a {
    font-size: clamp(0.5rem, 2vw, .8rem);
    line-height: 1.2; 
    margin-bottom: 1rem;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .fixed {
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
  }

  .navbar {
    background-color: rgb(10, 34, 64);
    height: 4vh;
  }
  .navbar .nav-link {
    color: white; 
    font-size: .9rem; 
    padding-top: 1.5vh;
    font-weight: 300;
    letter-spacing: -.2px;
  }

  .med-icon {
    font-size: 1rem !important;
  }
  .navbar .nav-link:hover {
    color: #d0dcf0c1; 
  }   
  .navbar .nav-link:focus {
    color: #c5dbffc1; 
  }   
  .navbar-brand {
    padding: 10px;  
  }
  .logo-container {
    display: flex;
  }
  .logo-main {
    height: 3vh;
    padding-bottom: 2px;
  }
  .logo-footer {
    width: 10vw;
    margin: 10px;
    margin-top: 20px;
  }

  /* TOOLBAR */
  .toolbar {
    height:5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toolbar-button {
    border-radius: 3px !important;
    height: 80%;
    font-size: .7rem !important;
    border: none;
    margin-inline: 5px;
}
.button-container {
    padding-right: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    background-color: rgb(10, 34, 64) !important;
    font-size: .8em !important;
    border-radius: 3px !important;
    height: 80%;

}
.btn-light {
    font-size: .8em !important;
    background-color: rgb(248, 218, 222) !important;
    border: 1px solid rgb(187, 181, 181) !important;
    border-radius: 3px !important;
    height: 80%;
}

.bi { 
    font-size: .8rem;
    padding-right: 5px;
    padding-left: 5px;
}
.bi-exclamation-triangle-fill {
    color: red !important;
    fill: black !important;
}
.bi-2-circle-fill {
    font-size: .8rem;
    color: white;
}
.inner-button{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
  .bi-clock {
    padding: 10px;
  }
  .btn-transparent{
    height: 5vh;
    font-size: .8rem !important;
    color: rgb(0, 85, 140) !important;
    background-color: transparent !important;
    border: none !important;
  }
  .btn-transparent:hover {
    background-color: transparent !important;
    border: none !important;
  }
  .btn-transparent:active {
    background-color: transparent !important;
    border: none !important;
  }
  .footer-nav {
    height: 18vh;
    display: flex;
    justify-content: center;
  }
  .footer {
    height: 5.2vh;
    background-color: rgb(20, 26, 29);
    display: flex;
    justify-content: center;
  }
  .main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: hidden;
  }

  /* subpage */
  .page {   
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    background-color: rgb(245, 247, 249);
  }
  .banner {
    height: 11vh;
    flex-shrink: 0;
    width: 100%;
    background-color: rgb(6, 61, 122);
  }
  .filter {
    display: flex;
    justify-content: center;
    height: 7vh;
    flex-shrink: 0;
    width: 100%;
    background-color: rgb(255,255,255);
  }
  .filter-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    align-items: center;

  }
  .filter-buttons-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
  }
  .content {
    padding: 10px;
    width: 50%;
    margin-block: 20px;
    overflow: scroll;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    flex: 1;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
  }

  .input-container {
    margin-top: 5px;
    padding-top:2px;
    position: relative;
    display: inline-block;
  }

  .input-with-icon {
    padding-left: 30px; /* Space for the icon */
    height: 3vh;
    font-size: 1rem;
  }

  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Make sure the icon doesn't block input interaction */
  }

ul {
  height: 4vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
li {
  height: 4vh;
  padding: 0px;
}

.inner-footer-nav {
  width: 50%;
  display: flex;
}

.inner-footer-nav-left-container {
  flex: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inner-footer-nav-center-container {
  flex: 1;
  display: flex;
  flex-direction: column;

}
.inner-footer-nav-right-container {
  flex: 1.8;
}
.address-container {

  padding-bottom:10px;
}
.address-container p {
  font-size: .9vh !important;
   margin:5px;
   margin-left:10px;
}

.footer-title {
  margin: 3px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: .8rem;
}

.footer-link{
  font-size: .9vh !important;
  color: rgb(114,136,142);
  margin: 5px;
  padding: 0px;
}

.socials-container {
  display: flex;
}
.socials-container i{
  font-size: 1.5rem !important;
}

.footer-inner-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-grow: 0;
}
.footer-left-container {
  flex: 1;
}
.copyright{
  color:rgb(126, 143, 153);
  font-size: .6rem;
}
.footer-link-b{
  color:white !important;
  font-size: .5rem;
  font-weight: 300 !important;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
}

.footer-right-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.link-span {
  display: flex;
  height: .7vh;
  padding: 0px;
  margin: 2px;
}
