.toolbar-button {
    border-radius: 3px !important;
    height: 80%;
    font-size: .7rem !important;
    border: none;
    margin-inline: 5px;
}
.btn-primary {
    background-color: rgb(10, 34, 64) !important;
}
.btn-light {
    background-color: rgb(248, 218, 222) !important;
    border: 1px solid rgb(187, 181, 181) !important;
}
.button-container {
    padding-right: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid
}
.bi { 
    font-size: .8rem;
    padding-right: 5px;
    padding-left: 5px;
}
.bi-exclamation-triangle-fill {
    color: red !important;
    fill: black !important;
}
.bi-2-circle-fill {
    font-size: .8rem;
    color: white;
}
.inner-button{
    display: flex;
    justify-content: center;
    align-items: baseline;
}